@media (max-width: 712px) {
    #light, #dark {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        max-width: 85%;
        margin-top: 2.8rem;
    }
}