/* APP CONTAINER */

#applight {
    background-image: url("../images/bg-desktop-light.jpg");
}

#appdark {
    background-image: url("../images/bg-desktop-dark.jpg");
}

/* TODO CONTAINER */

#dark .input-container {
    background-color: hsl(235, 24%, 19%);
}

#light .input-container {
    background-color: hsl(0, 0%, 98%)
}

#dark .todo-input {
    color:  hsl(233, 11%, 84%);
}

#light .todo-input {
    color:  hsl(235, 19%, 35%)
}

#dark .tasks-container {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
    border-bottom: solid hsl(234, 11%, 52%) 1.5px;
}

#light .tasks-container {
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 11%, 52%);
    border-bottom: solid hsl(236, 33%, 92%) 1.5px;
}

#dark .task-footer-container{
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
}

#light .task-footer-container{
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 11%, 52%);
}
 
#dark .all:hover, 
#dark .active:hover, 
#dark .completed:hover, 
#dark .clear-completed:hover     {
    color: hsl(236, 33%, 92%)
}

#dark .footer {
    color: hsl(235, 19%, 35%)
}

#light .footer {
    color: hsl(234, 11%, 52%);
}