body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    display: flex;
}

.container { 
    border: black solid 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40rem;
    height: 50rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;

}

@media (max-width: 712px) {
    #light, #dark {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        max-width: 85%;
        margin-top: 2.8rem;
    }
}